/* poppins-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');

}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');

}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');

}

/* poppins-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');

}

*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #a28268;

}

body {
    color: var(--color-primary-dark);
    font-family: "Poppin", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    background-color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    display: inline-block;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    left: -1000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*header-***********************/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;



}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 64px;
}

.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;

}



.link {
    color: var(--color-primary-light);
    text-decoration: none;

    line-height: 1.5;
    transition: color 0.5s;
}

.link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;

}

.hero-section {
    padding: 272px 0;
    background: no-repeat center top;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/couple-coffee-in-bakery.jpg");
    background-size: cover;

}

.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand-normal);
}

.advantages-section {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
}

.advantages-list {
    display: flex;

    justify-content: space-evenly;
    gap: 40px;
}

.advantages-items {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title.center {
    text-align: center;
}

.tradition-title {
    margin-bottom: 42px;
}

.section-title .accent {
    color: var(--color-brand-dark);

}

/************** Tradition Section ****************************/
.tradition-section {
    padding-top: 96px;
}

.tradition-container {
    display: flex;
    gap: 101px;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 710px;
}

.tradition-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;

}

.tradition-text .uppercase {

    text-transform: uppercase;
}

.tradition-text.limited {
    max-width: 330px;
}


/************* Chefs Section ********************************/
.chefs-list {
    display: flex;
    column-gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.chefs-items {
    flex-basis: calc((100% - 30px) / 2);
}

.chefs-title {

    margin: 0 auto 80px;
    position: relative;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
    background-color: var(--color-primary-light);
}

.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
}

.chefs-title::after,
.chefs-title::before {
    position: absolute;
    bottom: 24px;
    content: "";
    border: 2px solid var(--color-brand-light);
    width: 352px;

}

.chefs-title::before {
    left: 0;

}

.chefs-title::after {
    right: 0;
}

.chefs-card {
    display: flex;
    gap: 30px;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0px;
}

/****************** Format Section ***********************************/

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.formats-items {
    /******************
 Правило для виводу картинок неа ширину обєкта
 ширина обєкта 100% 
 падінг 40пх
 кількість обєктів які будуть виводитися -3 
    *********************/
    flex-basis: calc((100% - 40px) / 3);
}

.format-cart {
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    height: 444px;
    transition: transform 0.5s;
}

.format-cart:hover {
    transform: scale(1.05);
}

.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

.carosel-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.carosel-arrow {
    fill: var(--color-primary-dark);
}

.carosel-button:hover {
    background-color: var(--color-primary-dark);
}

.carosel-button.next {
    transform: rotate(180deg);
}

.carosel-button:hover .carosel-arrow {
    fill: var(--color-primary-light);
}

/************** Contact Section ************************/
.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contact-title {
    margin-bottom: 16px;
}

.font-size {
    font-size: 18px;
}

/***************** Footer Section *************************/
.footer {
    padding: 32px 0;
    background-image: url('../images/footer-img.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.footer::before,
.footer::after {
    content: "";
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
}

.footer::before {
    background-image: url(../images/bread-small.png);
    width: 180px;
    height: 120px;
}

.footer::after {
    background-image: url(../images/bread-larg.png);
    right: 0;
    width: 380px;
    height: 190px;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu,
.footer-address,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);

}

.address-icon:hover {
    fill: var(--color-brand-normal);

}

.address-copyright {
    font-size: 14px;
}

/************* Modal  ******************************************/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #31261A66;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 100%;
    max-width: 880px;
    max-height: 880px;
    height: 100%;
    background-color: var(--color-primary-light);
    position: relative;
    padding: 128px;
    border-radius: 32px;
}



.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

/*form*/
.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 16px 42px;
    border: 1px solid var(--color-secondary-dark);
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    margin: 0 auto;
    display: block;
    margin-bottom: 24px;
}

.form-terms {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 213px;
    width: 100%;
    margin: 0 auto;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

/* урок 16  61:07*/